@use '../mixins' as *;

.i-container {
  @include flex-row-stretch;
  min-width: 0;
  min-height: 0;

  &--vertical {
    flex-direction: column;
  }

  &--app {
    @include fill;
    overflow: hidden;
  }

  &--absolute {
    position: absolute;
    // top/right/bottom/left: 0，填满父容器w
    inset: 0;
  }
}


