// src/base/_reset.scss
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  background-color: var(--inf-color-background);
  color: var(--inf-color-on-background);
}

a {
  color: var(--inf-color-primary);
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
}
